.portfolio {
    margin-left: 250px;
    padding: 15px;
    text-align: left;
}

.projectBox {
    width: 600px;
    height: 400px;
    float: left;
    position: relative;
    /* text-align: center; */
    margin: 20px;
}

.projectLabel {
    color: #818181;
    text-align: center;
    font-size: large;
    background-color: #aed6f1;
    width: 600px;
    height: 50px;
    padding-top: 20px;    
    padding: 4;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.projectPhoto {
    width: 600px;
    height: 400px;
    float: left;
    position: relative;
    text-align: center;   
}

.move {
    /* padding-left: 45px; */
    box-sizing: content-box;
}

@media only screen and (max-width: 768px) {
    .move {
        padding-left: 130px;
        box-sizing: content-box;
    }
    .portfolio {
        margin-left: 110px; 
    }
} 