.contact {
    margin-left: 250px;
    padding: 15px;
    max-width: 35%;
    text-align: left;
}

.contact a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: block;
}

.contact a:hover {
  color: #818181;
}

.email-address {
  padding: 6px 8px 6px 16px;
  font-size: 22px;
  /* display: block; */

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 75px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

textarea {
    width: 100%;
    height: 150px;
    margin: 8px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
/* 
  @media only screen and (max-width: 768px) {
    .viewContainer {
      margin-left: 110px;
    }
  } */