.viewContainer {
    margin-left: 250px;
    padding: 15px;
}

.viewContainer p {
    text-align: left;
}

    margin-left: 250px;

    @media only screen and (max-width: 768px) {
        .viewContainer {
            margin-left: 100px; 
        }
    }